
@font-face {
	font-family: "Cyberverse";
	src: url("/static/Cyberverse Regular.ttf");
}

body {
	background-color: #222225;
	background-image: url('/static/dark_leather.png');
	background-repeat: repeat;
	color: #eeeeff;
	font-family: 'Open Sans', sans-serif;
}

#title {
	margin-bottom: 1em;
}

#title .label a {
	color: white;
}

.panel {
	color: black;
}

#home_buttons {
	margin-bottom: 30px;
}

#wrapper {
	padding-bottom: 60px; /* must be = to footer height + 30 px */
}

#main_disclaimer {
	margin-bottom: 20px;
}

#main_disclaimer .bg-danger {
	border-radius: 5px;
	background-color: #ff2222;
	color: pink;
}

#panel {
	background-color: #333355;
	box-shadow: 0px 0px 10px black;
	color: silver;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 25px;
}

#panel img {
	box-shadow: 0px 0px 5px grey;
}

#quote_box {
	font-size: 0.8em;
	font-style: italic;
	margin-top: 30px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px; /* must be = to wrapper padding bottom - 30 px */
	background-color: #333333;
	color: silver;
	font-size: 0.8em;
	font-family: Lucida, sans-serif;
	padding-top: 5px;
	box-shadow: 0px -1px 3px navy;
}

header {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0;
	margin-bottom: 40px;
	background-color: #333333;
	font-family: "Cyberverse", "Courier New", sans-serif;
	box-shadow: 0px 5px 10px black;
	color: white;
}

header .pull-right {
	margin-top: 10px;
}

.glass {
	background-color: rgba(200, 200, 200, 0.75);
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
	box-shadow: 0px 0px 3px black;
}

.glass a {
	color: #332275;
}

header h1 {
	font-weight: bold;
}

.header_logo {
	max-width: 150px;
}

td {
	padding: 15px;
}

.homepage_tag *:hover {
	text-decoration: none;
	background-color: #eeeeff;
}
