{% extends "forum/_base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div id="title">
			<h2>
				{{ user }} 
			</h2>
			{% if profile.banned %}
				<span class="label label-danger">{% trans "Banned" %}</span>
			{% endif %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Contact" %}</div>
			<div class="panel-body">
				<a href="{% url 'new_mail' pk=user.pk %}">{% trans "Send mail" %}</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Sign up date" %}</div>
			<div class="panel-body">
				{{ profile.signup_date }}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Avatar" %}</div>
			<div class="panel-body">
				<img alt="avatar" src="{% if profile.avatar %}/media/{{ profile.avatar }}{% else %}/static/anonymous_avatar.png{% endif %}" style="max-width: 100px; max-height: 100px;" class="avatar" />
				{% if can_edit %}
					<br />
					<form action="" method="post" enctype="multipart/form-data" novalidate>
						{% csrf_token %}
						{% bootstrap_form change_avatar_form %}
						{% buttons %}
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Change" %}
							</button>
						{% endbuttons %}
					</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}