{% extends "forum/_base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2 id="title">{% trans "Files" %}</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				{% for i in num_pages %}
					<li{% if i == page %} class="active"{% endif %}><a href="{% url 'list_files' page=i %}">{{ i }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">

		{% for file in files %}

			<div class="row tile pad">
				<div class="col-md-12">

					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12">
									<a href="{% url 'file' pk=file.pk %}" class="goto">{{ file.title }}</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 small">
									{% for tag in file.list_tags %}
										<span class="label label-primary"><a href="{% url 'tag' pk=tag.pk %}">{{ tag }}</a></span>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="col-md-4 small">
							{% trans "Last update" %} : {{ file.updated }}
						</div>
					</div>

				</div>
			</div>

		{% endfor %}

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				{% for i in num_pages %}
					<li{% if i == page %} class="active"{% endif %}><a href="{% url 'list_files' page=i %}">{{ i }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
{% endblock %}

{% block javascript %}

<script>
	$(document).ready(function(){
		$('.tile').click(function(){
			window.location = $(this).find('.goto').attr('href');
		});
	});
</script>

{% endblock %}