{% extends "forum/_base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="row">
	<div class="col-md-12">

		{% for tag in tags %}

			<div class="row tile">
				<div class="col-md-12" style="padding: 10px; background-image: url('{% if tag.cover_image %}{{ tag.cover_image }}{% endif %}'); background-position: right; background-size: 40% 300%; background-repeat: no-repeat;">
					<div class="row"><div class="col-md-12"><a href="{% url 'tag' pk=tag.pk %}" class="goto">{{ tag }}</a></div></div>
					<div class="row small"><div class="col-md-12">
						{% if tag.last_message %}
							<a href="{% url 'topic' pk=tag.last_message.topic.pk %}">Last response ({{ tag.last_message.posted }})</a>
							 by 
							<a href="{% url 'user' pk=tag.last_message.author.pk %}">{{ tag.last_message.author }}</a> 
						{% else %}
							No messages
						{% endif %}
					</div></div>
				</div>
			</div>

		{% endfor %}

	</div>
</div>
{% endblock %}

{% block javascript %}

<script>
	$(document).ready(function(){
		$('.tile').click(function(){
			window.location = $(this).find('.goto').attr('href');
		});
	});
</script>

{% endblock %}