{% extends "forum/_base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="row">
	<div class="col-md-12">

		{% for tag in tags %}

			<div class="row tile">
				<div class="col-md-12 tag_tile" style="background-image: linear-gradient(to right, rgba(238,238,255,1.0), rgba(238,238,255,0.0)), url('{% if tag.cover_image %}{{ tag.cover_image }}{% endif %}');" onmouseover="this.style.backgroundImage='linear-gradient(to right, rgba(51,51,85,1.0), rgba(51,51,85,0.0)), url(\'{% if tag.cover_image %}{{ tag.cover_image }}{% endif %}\')';" onmouseout="this.style.backgroundImage='linear-gradient(to right, rgba(238,238,255,1.0), rgba(238,238,255,0.0)), url(\'{% if tag.cover_image %}{{ tag.cover_image }}{% endif %}\')';">
					<div class="row"><div class="col-md-12"><a href="{% url 'tag' pk=tag.pk %}" class="goto">{{ tag }}</a></div></div>
					<div class="row small"><div class="col-md-12">
						{% if tag.last_message %}
							<a href="{% url 'topic' pk=tag.last_message.topic.pk %}">{{ tag.last_message.topic.title }} ({{ tag.last_message.posted }})</a>
							 by 
							<a href="{% url 'user' pk=tag.last_message.author.pk %}">{{ tag.last_message.author }}</a> 
						{% else %}
							No messages
						{% endif %}
					</div></div>
				</div>
			</div>

		{% endfor %}

	</div>
</div>
{% endblock %}

{% block javascript %}

<script>
	$(document).ready(function(){
		$('.tile').click(function(){
			window.location = $(this).find('.goto').attr('href');
		});
	});
</script>

{% endblock %}