{% extends "forum/_base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2>#{{ tag }}</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="list-group">
			{% for topic in topics %}
				<div class="panel panel-default">
					<a href="{% url 'topic' pk=topic.pk %}">
						<div class="panel-heading">{{ topic.title }}</div>
						<div class="panel-body">
							<a href="{% url 'user' pk=topic.author.pk %}">{{ topic.author }}</a> - {{ topic.created }}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}