{% extends "forum/_base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2 id="title">#{{ tag }}</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<th>Topic</th>
				<th>Created</th>
				<th>Last Response</th>
			</thead>
			<tbody>
				{% for topic in topics %}
					<tr>
						<td><a href="{% url 'topic' pk=topic.pk %}">{{ topic.title }}</a></td>
						<td>by <a href="{% url 'user' pk=topic.author.pk %}">{{ topic.author }}</a> ({{ topic.created }})</td>
						<td>
							{% if topic.last_message %}
								<a href="{% url 'topic' pk=topic.pk %}">Last response ({{ topic.last_message.posted }})</a>
								 by 
								<a href="{% url 'user' pk=topic.last_message.author.pk %}">{{ topic.last_message.author }}</a> 
							{% else %}
								No messages
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}