{% extends "forum/_base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2>{{ topic }}</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% for message in messages %}
			<div class="panel panel-default">
				<div class="panel-heading"><a href="{% url 'user' pk=message.author.pk %}">{{ message.author }}</a> - {{ message.posted }} {% if message.edited != message.posted %}(edited : {{ message.edited }}){% endif %}</div>
				<div class="panel-body">
					{{ message.content |safe }}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form action="" method="post" novalidate>
			{% csrf_token %}
			{% bootstrap_form new_message_form %}
			{% buttons %}
				<button type="submit" class="btn btn-primary">
					{% bootstrap_icon 'star' %} Write
				</button>
			{% endbuttons %}
		</form>
	</div>
</div>
{% endblock %}