{% extends "forum/_base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div id="title">
			<h2>
				{{ topic }} 
			</h2>
			{% if topic.closed %}
				<span class="label label-danger">{% trans "Closed" %}</span>
			{% endif %}
			{% for tag in tags %}
				<span class="label label-primary"><a href="{% url 'tag' pk=tag.pk %}">{{ tag }}</a></span>
			{% endfor %}
			{% for private_viewer in private_viewers %}
				<span class="label label-warning"><a href="{% url 'user' pk=private_viewer.pk %}">{{ private_viewer }}</a></span>
			{% endfor %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				{% for i in num_pages %}
					<li{% if i == page %} class="active"{% endif %}><a href="{% url 'topic' pk=topic.pk page=i %}">{{ i }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% for message in messages %}
			<div class="panel panel-default">
				{% if edit_message_pk != message.pk %}
					<div class="panel-heading small"><a href="{% url 'user' pk=message.author.pk %}">{{ message.author }}</a> - {{ message.posted }} {% if message.show_edited %}({% trans "edited" %} : {{ message.edited }}){% endif %}{% if not topic.closed %}{% if message.author.username == signed_in_user or signed_in_user_can_edit_all %}<a class="pull-right" href="{% url 'topic' pk=topic.pk edit_message=message.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>{% endif %}{% endif %}</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-2"><span class="thumbnail" style="border: 0;"><img alt="avatar" src="{% if message.author.profile.avatar %}/media/{{ message.author.profile.avatar }}{% else %}/static/anonymous_avatar.png{% endif %}" class="img-responsive avatar" /></span></div>
							<div class="col-md-10"><div class="msg_body">{{ message.content |safe }}</div></div>
						</div>
					</div>
				{% else %}
					{% if not topic.closed %}
						<div class="panel-heading">{% trans "Editing"%}...<a class="pull-right" href="{% url 'topic' pk=topic.pk page=page %}">{% trans "Cancel" %}</a></div>
						<div class="panel-body">
							<form action="" method="post" novalidate>
								{% csrf_token %}
								<input type="hidden" name="edit_message_pk" value="{{ message.pk }}" />
								<input type="hidden" name="page" value="{{ page }}" />
								{% bootstrap_form edit_message_form %}
								{% buttons %}
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Edit" %}
									</button>
								{% endbuttons %}
							</form>
						</div>
					{% else %}
						{% trans "This topic was closed, you can't edit a message." %}
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				{% for i in num_pages %}
					<li{% if i == page %} class="active"{% endif %}><a href="{% url 'topic' pk=topic.pk page=i %}">{{ i }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
{% if new_message_form %}
	<div class="row">
		<div class="col-md-12">
			{% if not topic.closed %}
				<form action="" method="post" novalidate>
					{% csrf_token %}
					<input type="hidden" name="page" value="{{ page }}" />
					{% bootstrap_form new_message_form %}
					{% buttons %}
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Write" %}
						</button>
					{% endbuttons %}
				</form>
			{% else %}
				{% trans "This topic was closed, you can't write a new message." %}
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}