{% extends "forum/_base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div id="title">
			<h2>
				{{ user }} 
			</h2>
			{% if profile.banned %}
				<span class="label label-danger">Banned</span>
			{% endif %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Sign up date</div>
			<div class="panel-body">
				{{ profile.signup_date }}
			</div>
		</div>
	</div>
</div>
{% endblock %}